body {
  margin: 0;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 10px;
}
canvas {
  overflow: hidden;
  display: block;
  z-index: -1;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  box-sizing: border-box;
}
#background {
  z-index: -10;
  border: 20px solid white;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #161c21;
}
#info {
  pointer-events: none;
  font-family: 'PT Sans', sans-serif;
  color: #0094f2;
  background: #161c21;
  border: 1px solid #0094f2;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 10px;
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.hz {
  
}
.drag-drop {
  border: 4px dashed #0094f2;
  border-radius: 40px;
}
#intro-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  color: #0094f2;
  pointer-events: none;
}
.error {
  color: #b32121;
}
#intro {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: auto;
}

header {
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 42px;
  text-transform: lowercase;
}

p {
  font-weight: 500;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 18px;
  font-family: 'PT Sans';
  margin: 0;
  padding: 0;
  display: block;
  color: white;
}

.hr {
  display: block;
  width: 50px;
  height: 1px;
  background: currentColor;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.red {
  background: currentColor;
}

.instructions {
}

.author {
  margin: auto;
  text-align: center;
  font-size: 12px;
}
.author-container {
  position: absolute;;
  bottom: 40px;
  width: 100%;
  left: 0;
}
.author > a {
  pointer-events: auto;
}
a {
  color: #0094f2;
  text-decoration: none;
}
a:hover, a:active {
  color: #45a6e4;
}

